.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #111;*/
    /*background-color: #40BFBB;*/
    background-color: #B3B8E6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a, .sidenav .closeBtn {
    padding: 8px 8px 8px 32px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: #3775A4;
    display: block;
    transition: 0.3s;
    white-space: pre;
}

#menuOptions {
    margin-top: 50px;
}

.sidenav a:hover {
    color: #F1F1F1;
}

.sidenav .closeBtn {
    position: absolute;
    top: -16px;
    left: -21.5px;
    color: #F1F1F1;
    font-size: 36px;
}