#showFiltersSidebarBtn {
    display: none;
    margin: -20px 0 10px;
    outline: none;
    border: 1px solid #3775A4;
    border-radius: 6px;
    font-weight: bold;
    color: #3775A4;
    width: 120px;
    height: 40px;
    background-color: #FFF;
}

#showFiltersSidebarBtn:hover {
    background-color: #3775A4;
    color: #FFF;
    transition: .2s;
}

.hideablePanelContainer {
    display: none;
    position: absolute;
    height: 600px;
    width: 300px;
    margin-top: -1px;
    overflow-y: auto;
    z-index: 100;
    background: #B3B8E6;
}

#mapContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#theaterSelectPanel {
    display: block;
    width: 25%;
}

#theatersMap {
    width: 75%;
}

@media (max-width: 1024px) {
    #showFiltersSidebarBtn {
        display: block;
    }

    #theaterSelectPanel {
        display: none;
    }

    #theatersMap {
        width: 100%;
        margin: 0 auto;
    }
}