body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C2E5EB;
}

#head {
  margin-bottom: 30px;
}

#root {
  padding: 0 95px;
}

.pageSectionCaption {
  font-size: 1.8rem;
  color: #3775A4;
  margin-bottom: 42px;
}