.sidenav {
    height: 100%;
    width: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #B3B8E6;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a, .sidenav .closeBtn {
    padding: 8px 8px 8px 32px;
    margin-bottom: 1.25em;
    text-decoration: none;
    font-size: 1.5rem;
    color: #3775A4;
    display: block;
    transition: 0.3s;
    white-space: pre;
}

#menuOptions {
    margin-left: -25px;
}

.sidenav a:hover {
    color: #F1F1F1;
}

.sidenav .closeBtn {
    position: absolute;
    top: -14.9px;
    left: -20.9px;
    color: #F1F1F1;
    font-size: 2.25rem;
}