.theaterCriteriaPanel {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.theaterCriteriaPanel ul {
    padding: 0;
    list-style-type: none;
}

.theaterCriteriaPanel ul li {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

#searchCriteria {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.criteriaSectionName {
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 12px;
}

#searchBtn {
    outline: none;
    border: 1px solid #3775A4;
    border-radius: 6px;
    font-weight: bold;
    color: #3775A4;
    width: 50%;
    height: 40px;
    display: block;
    /*margin: 0 auto 10px;*/
    background-color: #FFF;
}

#searchBtn:hover {
    background-color: #3775A4;
    color: #FFF;
    transition: .2s;
}

.centerBtn {
    margin: 0 auto 10px;
}